@using System.Web;
@using BridgeWater.Data;
@using BridgeWater.Models;
@using BridgeWater.Services;
@inject IOrderService orderService;
@inject IProductService productService;

@{
    #pragma warning disable
    ViewData["Title"] = "Comenzile Mele";
    List<OrderViewModel> orders = new List<OrderViewModel>();

    string? uid = Context.User?.Claims.FirstOrDefault(u => u.Type == "id")?.Value;
    int? page = Context.Request.Query.Keys.Contains("page") ? Convert.ToInt32(Context.Request.Query["page"]) : null;
    Category[] categories = await productService.GetCategoriesAsync();

    List<Category> list = new List<Category>();
    Category firstCategory = new Category();
    firstCategory.Name = "Toate Produsele";

    list.Add(firstCategory);
    list.AddRange(categories);
    string IsCanceled = string.Empty;
    bool IsFilterApplied = false;

    int previousPage = 1, totalPages = 1;
    int nextPage = 1, mainPage = 1;
    int totalResults = 0;

    if (!string.IsNullOrEmpty(uid))
    {
        int userId = Convert.ToInt32(uid);
        OrderSearchFilter? filter = ViewData["filter"] as OrderSearchFilter;

        if (filter == null)
        {
            filter = new OrderSearchFilter();
            filter.IsCanceled = false;
        }
        else
        {
            if (filter.IsCanceled != null && filter.IsCanceled.Value)
                IsCanceled = "&IsCanceled=true";

            IsFilterApplied = true;
        }

        /* If IsCanceled appears in query string, this enable implicit filtering. */
        if (!string.IsNullOrEmpty(Context.Request.Query["IsCanceled"]))
        {
            filter = new OrderSearchFilter();
            filter.IsCanceled = Convert.ToBoolean(Context.Request.Query["IsCanceled"]);

            if (filter.IsCanceled != null && filter.IsCanceled.Value) 
            {
                IsCanceled = "&IsCanceled=true";
                IsFilterApplied = true;
            }
        }

        var productOrderViewList = await orderService.GetProductOrdersAsync(filter, userId, page);
        orders.AddRange(productOrderViewList.orderViewModels);

        totalResults = productOrderViewList.results;
        totalPages = productOrderViewList.pages;

        if(productOrderViewList.pages > 1)
        {
            previousPage = 1;
            mainPage = 1;
            nextPage = 2;
        }

        if(page != null)
        {
            mainPage = page.Value;
            nextPage = mainPage + 1;
            previousPage = mainPage - 1;
        }
    }
}

<section style="background-color: #f1e3e3;">
    <br /><br />
    <div class="row" style="padding-bottom: 6%;">
        <div class="col-2"></div>
        <div class="col-8">
            @if (orders.Count > 0)
            {
                <form action="/Order/Search" method="post">
                    <div class="row" style="margin-left: 10%;">
                        <div class="col-3">
                            <input class="form-control form-control-sm" id="ProductName" name="ProductName" type="text" placeholder="Product Name" />
                        </div>
                        <div class="col-3">
                            <select class="form-select form-select-sm" id="CategoryId" name="CategoryId" aria-label="Toate Produsele">
                                <option value="0" selected>Toate Produsele</option>
                                @for(int j = 1; j < list.Count; j++)
                                {
                                    <option value="@list[j].Id">@list[j].Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-3">
                            <div class="form-check" style="margin-left: 25%;">
                                @Html.CheckBox("IsCanceled", false)
                                <label class="form-check-label" for="IsCanceled">
                                    Anulate
                                </label>
                            </div>
                        </div>
                        <div class="col-3">
                            <button type="submit" style="margin-left: 45%;" class="btn btn-primary btn-sm"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Cauta</button>
                        </div>
                    </div>
                </form><br/>
                @if (IsFilterApplied)
                {
                    <div class="alert" id="dismissible">
                        <a href="/Order/" title="Clear filters" class="text-danger"><i class="fa fa-times" id="deny" aria-hidden="true"></i></a> Clear all filters for product orders.
                    </div>
                }
                <table class="table table-light table-hover" id="products" style="margin-left: 10%; width: 90%;">
                    <thead>
                        <tr>
                            <th style="background-color: #506983; color: white;">#</th>
                            <th style="background-color: #506983; color: white;">Nume Produs</th>
                            <th style="background-color: #506983; color: white;">Cantitate</th>
                            <th style="background-color: #506983; color: white;">Pretul</th>
                            <th style="background-color: #506983; color: white;">Anulata</th>
                            <th style="background-color: #506983; color: white;">Platita</th>
                            <th style="background-color: #506983; color: white; text-align: center;">Acțiuni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int k = 0; k < orders.Count; k++)
                        {
                            <tr id="order_@(k + 1)">
                                <td id="productField">
                                    <a href="/Home/About/?id=@orders[k].ProductId">
                                        <img src="/Home/Show/?id=@orders[k].ProductId&logo=true" alt="@orders[k].ProductName" width="64" height="64" />
                                    </a>
                                </td>
                                <td id="productField">
                                    <small>@orders[k].ProductName</small>
                                </td>
                                @if(!orders[k].IsPayed)
                                {
                                    <td id="productField"><small id="quantity" onmouseover="OverQuantity(@(k + 1), @orders[k].IsCanceled.ToString().ToLower())" onmouseout="LeaveQuantity(@(k + 1), @orders[k].IsCanceled.ToString().ToLower())" onclick="ModifyQuantity(@orders[k].IsCanceled.ToString().ToLower(), @(k + 1), @orders[k].Stock, @orders[k].Price)" title="Modificati Cantitatea">&nbsp;@orders[k].Stock</small></td>
                                }
                                else
                                {
                                    <td id="productField"><small id="quantity" title="Cantitatea nu poate fi modificată.">&nbsp;@orders[k].Stock</small></td>
                                }
                                <td id="productField">
                                    <small id="totalPrice" style="color: #66BB6A; font-weight: bold;">@((Math.Truncate((orders[k].Price * orders[k].Stock) * 100) / 100).ToString("#####.##"))&nbsp;Lei</small>
                                </td>
                                <td id="productField">
                                    @if(orders[k].IsCanceled)
                                    {
                                        <span class="fa fa-check text-success" title="Comanda anulată" style="margin-left: 35%;"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-times text-danger" title="Comanda activă" style="margin-left: 35%;"></span>
                                    }
                                </td>
                                <td id="productField">
                                    @if(orders[k].IsPayed)
                                    {
                                        <span class="fa fa-check text-success" title="Plată efectuată" style="margin-left: 35%;"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-times text-danger" title="Plata este în așteptare" style="margin-left: 35%;"></span>
                                    }
                                </td>
                                <td id="productField">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-2">
                                            <form action="/Order/UpdateOrder" method="post">
                                                <input type="hidden" id="ProductOrderId" name="ProductOrderId" value="@orders[k].ProductId"/>
                                                <input type="hidden" id="Stock" name="Stock" value="@orders[k].Stock" />
                                                <button id="changeOrder_@(k + 1)" name="changeOrder_@(k + 1)" style="visibility: hidden;" class="btn btn-sm" type="submit" title="Modificati Comanda">
                                                    <i class="fa fa-refresh" style="color: #784949;" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-2">
                                            <a class="btn btn-sm" href="/Home/About/?id=@orders[k].ProductId" title="Vizualizare">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        @if(!orders[k].IsPayed)
                                        {
                                            <div class="col-2">
                                                <a class="btn btn-sm" onclick="PayOrder('@orders[k].Id')" title="Plătește">
                                                    <i class="fa fa-credit-card text-success" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        }
                                        <div class="col-2">
                                            @if (!string.IsNullOrEmpty(uid) && !orders[k].IsPayed)
                                            {
                                                <button type="button" class="btn btn-sm" title="Elimină Comanda" data-bs-toggle="modal" data-bs-target="#removeOrderModal_@(k + 1)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                                <div class="modal fade" id="removeOrderModal_@(k + 1)" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="orderModalLabel">Elimină Comanda</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Sunteti sigur, ca vreti sa anulati aceasta comanda?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Inchideti
                                                                </button>
                                                                <form action="/Order/Cancel/?orderId=@orders[k].Id" method="post">
                                                                    <button class="btn btn-sm btn-danger" type="submit" title="Elimină Comanda">
                                                                        <i class="fa fa-trash" style="color: white;" aria-hidden="true"></i>&nbsp;Anulati
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row" style="margin-left: 10%;">
                    <div class="col-4">
                        <span style="font-weight: bold; color: #997878;">Numarul de rezultate:&nbsp;&nbsp;<small style="font-weight: bold; color: #6970c5 !important;">@totalResults</small></span>
                    </div>
                    <div class="col-8">
                        @if(totalPages > 1)
                        {
                        <nav id="navigation" style="margin-left: 50% !important;">
                            <ul class="pagination">
                                @if (mainPage > 1)
                                {
                                        <li class="page-item"><a class="page-link" href="/Order/?page=@previousPage@IsCanceled">&lt;&lt;</a></li>
                                        <li class="page-item"><a class="page-link" href="/Order/?page=@previousPage@IsCanceled">@previousPage</a></li>
                                }
                                <li class="page-item active"><a class="page-link" style="color: #ffa571 !important;">@mainPage</a></li>

                                @if (nextPage <= totalPages && mainPage < totalPages)
                                {
                                        <li class="page-item"><a class="page-link" href="/Order/?page=@nextPage@IsCanceled">@nextPage</a></li>
                                }

                                @if (nextPage <= totalPages && mainPage < totalPages)
                                {
                                        <li class="page-item"><a class="page-link" href="/Order/?page=@nextPage@IsCanceled">&gt;&gt;</a></li>
                                }
                            </ul>
                        </nav>
                        <br/>
                        <br/>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    Nu aveti comenzi momentan, in cosul dvs. <br>Mergeti la <a href="/Home/" class="alert-link">produse</a> pentru a putea inregistra comenzi.
                </div>
            }
        </div>
        <div class="col-2"></div>
    </div>
</section>