@using BridgeWater.Data;
@using BridgeWater.Services;

@inject IProductService productService;
@inject IPostService postService;

@{
    #pragma warning disable
    ViewData["ActionName"] = "/Home/SearchProducts";
    int? id = Context.Request.Query.Keys.Contains("id") ? Convert.ToInt32(Context.Request.Query["id"]) : null;
    string? userId = Context.User?.Claims?.FirstOrDefault(u => u.Type == "id")?.Value;
    bool canShowRating = userId != null && id != null;

    if(canShowRating)
    {
        int uid = Convert.ToInt32(userId);
        canShowRating = await postService.HasPostRatingAsync(uid, id.Value);
    }

    ProductViewModel? productViewModel = null;
    Product? product = null;

    if (id != null)
    { 
        product = await productService.GetProductAsync(id.Value);
        productViewModel = await productService.GetProductDetailsAsync(id.Value);
    }
}

<section class="bg-light">
    <div class="container-fluid" id="productShortView">
        @if (product != null)
        {
            <div class="row">
                <div class="col-4" style="margin-left: 8%;">
                    <div class="row product-box">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <nav aria-label="breadcrumb" id="navz">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a id="core" href="/Home/">Acasa</a></li>
                                    <li class="breadcrumb-item"><a id="next" href="/Home/?type=@productViewModel!.CategoryId">@productViewModel!.Category</a></li>
                                    <li class="breadcrumb-item active" id="productxNav" aria-current="page">@product.Name</li>
                                </ol>
                            </nav>
                            <div class="product-name">
                                <h5>@product.Name</h5>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <img src="/Home/Show/?id=@product.Id&logo=false" width="256" height="256" alt="@product.Name" id="poster"/>
                </div>
                <div class="col-4">
                    <div class="row" id="buyPanel">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="product-rating">
                                <h5>Rating</h5>
                                <span class="fa fa-star" style="color: orange;">&nbsp;<small class="rate">@productViewModel.Stars.ToString("0.##")</small></span>
                            </div>
                            <div class="product-available">
                                <h5>Stoc disponibil</h5>
                                @if(product.Stock > 0)
                                {
                                    <span class="fa fa-check" style="color: #14A44D !important; margin-left: 15% !important;">&nbsp;</span>
                                }
                                else
                                {
                                    <span class="fa fa-times" style="color: #DC4C64 !important; margin-left: 15% !important;">&nbsp;</span>
                                }
                            </div>
                            <div class="price-box">
                                <span class="regular-price" id="productPrice">
                                    <span class="price">@((Math.Truncate(product.Price * 100) / 100).ToString("#####.##"))&nbsp;Lei</span>
                                </span>
                            </div>
                            @if(product.Stock > 0)
                            {
                                <form action="/Order/Create" method="post">
                                    <input class="form-control form-control-sm" id="Stock" name="Stock" type="number" value="1" min="1" max="@product.Stock" />
                                    <input type="hidden" id="ProductOrderId" name="ProductOrderId" value="@product.Id" />
                                    <button class="btn" type="submit" id="buy">ADAUGA IN COS</button>
                                </form>
                            }
                            else
                            {
                                <form method="post">
                                    <input class="form-control form-control-sm" id="Stock" name="Stock" type="number" value="0" min="0" max="0" />
                                    <input type="hidden" id="ProductOrderId" name="ProductOrderId" value="@product.Id" />
                                    <button class="btn" type="submit" id="buy" disabled>ADAUGA IN COS</button>
                                </form>
                            }
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div><br/>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="product-description">
                        @Html.Raw(productViewModel.Description)
                    </div>
                </div>
                <div class="col-1"></div>
            </div><br/>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="product-tech">
                        @Html.Raw(productViewModel.TechInfo)
                    </div>
                </div>
                <div class="col-1"></div>
            </div><br/>
            @if (canShowRating)
            {
                <div class="row" style="margin-left: 8%;">
                    <div class="col-1"></div>
                    <h2 class="posts">Note si aprecieri</h2>
                    <div class="col-7">
                        <form action="/Home/CreatePost" method="post">
                            <textarea id="body" name="body" style="height: 300px;" rows="10" cols="100"></textarea><br/>
                            <div class="row">
                                <div class="col-4">
                                    <p class="rateus">Cum evaluezi acest produs?</p>
                                </div>
                                <div class="col-4">
                                    <div class="rating">
                                        <a id="star1" onclick="RateUs(1)" onmouseover="HoverUs(1)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="1 Stea"></a>
                                        <a id="star2" onclick="RateUs(2)" onmouseover="HoverUs(2)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="2 Stele"></a>
                                        <a id="star3" onclick="RateUs(3)" onmouseover="HoverUs(3)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="3 Stele"></a>
                                        <a id="star4" onclick="RateUs(4)" onmouseover="HoverUs(4)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="4 Stele"></a>
                                        <a id="star5" onclick="RateUs(5)" onmouseover="HoverUs(5)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="5 Stele"></a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <input type="hidden" id="rating" name="rating" value="0" />
                                    <input type="hidden" id="productId" name="productId" value="@id" />
                                    <button id="sender" type="submit" class="btn btn-primary btn-sm sender">Trimite</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-3"></div>
                </div>
            }
            @if(string.IsNullOrEmpty(userId))
            {
                <div class="row" style="margin-left: 8%;">
                    <div class="col-1"></div>
                    <div class="col-7">
                        <div class="alert alert-warning" role="alert">
                            Pentru a putea oferi recenzii, trebuie sa va <a href="/Account/" class="alert-link">conectati</a>.
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            }

            @if (productViewModel.postRatingViewModels != null && productViewModel.postRatingViewModels.Length > 0)
            {
                <div class="row" style="margin-left: 8%;">
                    <div class="col-1"></div>
                    <div class="col-7">
                        <h2 class="posts">Toate aprecierile (<small style="color: #7a4444;">@productViewModel.postRatingViewModels.Length</small>)</h2><br />
                        @foreach(PostRatingViewModel post in productViewModel.postRatingViewModels)
                        {
                            string style = post.depth > 0 ? $"margin-left: {post.depth * 30}px;" : "";
                            <div class="container" style="@style">
                                <div class="post">
                                    <div class="row">
                                        <div class="col-6">
                                            <img src="/Account/Show/?id=@post.accountId" alt="@post.username">&nbsp;
                                            <p class="post-name">@post.username</p>
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-4"></div>
                                                <div class="col-2">
                                                    <p style="color: #404041; margin-left: 56%; font-weight: bold;">@post.rating</p>
                                                </div>
                                                <div class="col-6">
                                                    @for (int k = 1; k <= post.rating; k++)
                                                    {
                                                        <span class="fa fa-star" style="color: orange;"></span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 13%;">@Html.Raw(post.body)</div>
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="time-right">@post.createdAt?.ToString("dd/MM/yyyy hh:mm tt")</span>
                                        </div>
                                        <div class="col-6">
                                            @if(!string.IsNullOrEmpty(userId) && await postService.CheckIfCanRepply(userId, post.id.Value))
                                            {
                                                <a onclick="ActivateReply(@post.accountId)" title="Comentati" style="margin-left: 90%;" class="btn btn-sm">
                                                    <span class="fa fa fa-reply" style="color: #5cb85c;"></span>
                                                </a>
                                            }
                                            @if (!string.IsNullOrEmpty(userId) && userId.CompareTo(post.accountId.ToString()) == 0)
                                            {
                                                <form action="/Home/RemovePost" method="post">
                                                    <input type="hidden" id="pid" name="pid" value="@post.id" />
                                                    <button title="Stergeti" style="margin-left: 90%;" class="btn btn-sm" type="submit">
                                                        <span class="fa fa-trash" style="color: #DC4C64;"></span>
                                                    </button>
                                                </form>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(userId))
                            {
                                <form action="/Home/SendPostReply" id="replyBox_@(post.accountId)" style="width: 92%; margin-left: 4%; display: none;" method="post">
                                    <input type="hidden" id="ReplyTo" name="ReplyTo" value="@post.id"/>
                                    <input type="hidden" id="FromMe" name="FromMe" value="@userId" />
                                    <input type="hidden" id="productId" name="productId" value="@id" />
                                    <textarea class="form-control" id="body" name="body" style="height: 300px;" rows="10" cols="100"></textarea><br />
                                    <button title="Trimiteti" type="submit" class="btn btn-primary btn-sm" style="margin-left: 94%;">
                                        <span class="fa fa-send" style="color: #f7f7f7;"></span>
                                    </button>
                                </form>
                            }
                        }
                    </div>
                <div class="col-3"></div>
            </div>
            }
        }
    </div>
</section>
