@using System.Web;
@using BridgeWater.Data;
@using BridgeWater.Services;
@inject IProductService productService;

@{
    #pragma warning disable
    ViewData["Title"] = "Toate Produsele";

    int? type = Context.Request.Query.Keys.Contains("type") ? Convert.ToInt32(Context.Request.Query["type"]) : null;
    int? page = Context.Request.Query.Keys.Contains("page") ? Convert.ToInt32(Context.Request.Query["page"]) : null;

    ProductResultModel result = await productService.GetProductsByCategoryAsync(type, page);
    ProductViewModel[] products = result.ProductViewModels;

    int nextPage = 0;
    int previousPage = page != null ? page.Value - 1 : 1;
    int mainPage = page != null ? page.Value : 1;

    if (previousPage <= 0) 
    {
        previousPage = 1;

        if (previousPage < result.Pages)
            nextPage = 2;
    }
    
    if (mainPage <= result.Pages - 1)
        nextPage = mainPage + 1;
}

<section class="bg-secondary">
    <br/><br/>
    @if (products != null && products.Length > 0)
    {
        <table class="table table-light table-hover" id="products" style="margin-left: 15%; width: 70%;">
            <thead>
                <tr>
                    <th style="background-color: #506983; color: white;">#</th>
                    <th style="background-color: #506983; color: white;">Nume Produs</th>
                    <th style="background-color: #506983; color: white;">Recenzii</th>
                    <th style="background-color: #506983; color: white;">Pretul</th>
                    <th style="background-color: #506983; color: white;">Actiuni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductViewModel product in products)
                {
                    <tr>
                        <td id="productField">
                            <a href="/Home/About/?id=@product.Id">
                                <img src="/Home/Show/?id=@product.Id&logo=true" alt="@product.Name" width="64" height="64" />
                            </a>
                        </td>
                        <td id="productField">
                            <small>@product.Name</small>
                        </td>
                        <td id="productField">Doe</td>
                        <td id="productField">
                            <small>@product.Price.ToString("##,###.##")</small>
                            </td>
                        <td id="productField">
                            <a class="btn btn-sm" href="/Home/About/?id=@product.Id">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-sm" href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (type != null)
        {
            <nav id="navigation">
                <ul class="pagination bg-secondary">
                    @if (mainPage > 1)
                    {
                        <li class="page-item"><a class="page-link" href="/Home/?type=@type.Value&page=@previousPage">&lt;&lt;</a></li>
                        <li class="page-item"><a class="page-link" href="/Home/?type=@type.Value&page=@previousPage">@previousPage</a></li>
                    }
                    <li class="page-item active"><a class="page-link" style="color: #ffa571 !important;">@mainPage</a></li>

                    @if (nextPage <= result.Pages && mainPage < result.Pages)
                    {
                        <li class="page-item"><a class="page-link" href="/Home/?type=@type.Value&page=@nextPage">@nextPage</a></li>
                    }

                    @if (nextPage <= result.Pages && mainPage < result.Pages)
                    {
                        <li class="page-item"><a class="page-link" href="/Home/?type=@type.Value&page=@nextPage">&gt;&gt;</a></li>
                    }
                </ul>
            </nav>
            <br/><br/>
        }
        else
        {
            <nav id="navigation">
                <ul class="pagination bg-secondary">
                    @if(mainPage > 1)
                    {
                        <li class="page-item"><a class="page-link" href="/Home/?page=@previousPage">&lt;&lt;</a></li>
                        <li class="page-item"><a class="page-link" href="/Home/?page=@previousPage">@previousPage</a></li>
                    }
                    <li class="page-item active"><a class="page-link" style="color: #ffa571 !important;">@mainPage</a></li>

                    @if (nextPage <= result.Pages && mainPage < result.Pages)
                    {
                        <li class="page-item"><a class="page-link" href="/Home/?page=@nextPage">@nextPage</a></li>
                    }

                    @if (nextPage <= result.Pages && mainPage < result.Pages)
                    {
                        <li class="page-item"><a class="page-link" href="/Home/?page=@nextPage">&gt;&gt;</a></li>
                    }
                </ul>
            </nav>
            <br/><br/>
        }
    }
</section>
