@using BridgeWater.Services;
@inject PlantService plantService;
<style>
    .note-editable {
        color: white;
        height: 200px;
    }

    .note-btn {
        color: #b0c7e9;
    }

    .note-btn:hover {
        color: #eab676 !important;
    }
</style>
@{
    #pragma warning disable
    ViewData["ActionName"] = "/Plant/SearchPlants";
    string id = Context.Request.Query["id"];

    string? userId = Context.User?.Claims?.FirstOrDefault(u => u.Type == "id")?.Value;
    bool canShowRating = userId != null && id != null;

    if (canShowRating)
    {
        int uid = Convert.ToInt32(userId);
        canShowRating = await plantService.HasPostRatingAsync(uid, id);
    }

    Plant plant = await plantService.GetProductAsync(id);
    if (plant != null) ViewData["Title"] = plant.name;
}
<br />
<br />
@if(plant != null)
{
    <div class="container bg-dark" style="width: 80%;">
        <div class="row">
            <div class="col-12">
                <img class="card-img-top" width="900" height="400" src="/Plant/Show/?id=@plant.Id&face=false" alt="@plant.name" />
            </div>
        </div><br/>
        <div class="row">
            <div class="col-2" id="plantPanel">
                <br/><h5 class="text-light">@plant.category</h5>
                <p class="text-light">@plant.name</p>
            </div><br/>
            <div class="col-9 text-light" style="margin-left: 8%;">@Html.Raw(plant.description?.body)</div>
            <div class="col-1"></div>
        </div>
        @if (canShowRating)
        {
            <div class="row" style="margin-left: 8%;">
                <div class="col-1"></div>
                <h2 class="posts">Note si aprecieri</h2>
                <div class="col-7">
                    <form action="#" method="post">
                        <textarea id="message" name="message" class="form-control form-control-sm" style="height: 300px;" rows="10" cols="100"></textarea><br />
                        <div class="row">
                            <div class="col-4">
                                <p class="rateus">Cum evaluezi acest produs?</p>
                            </div>
                            <div class="col-4">
                                <div class="rating">
                                    <a id="star1" onclick="RateUs(1)" onmouseover="HoverUs(1)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="1 Stea"></a>
                                    <a id="star2" onclick="RateUs(2)" onmouseover="HoverUs(2)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="2 Stele"></a>
                                    <a id="star3" onclick="RateUs(3)" onmouseover="HoverUs(3)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="3 Stele"></a>
                                    <a id="star4" onclick="RateUs(4)" onmouseover="HoverUs(4)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="4 Stele"></a>
                                    <a id="star5" onclick="RateUs(5)" onmouseover="HoverUs(5)" onmouseout="ClearStars()" class="fa fa-star rating-star" title="5 Stele"></a>
                                </div>
                            </div>
                            <div class="col-4">
                                <input type="hidden" id="rating" name="rating" value="0" />
                                <input type="hidden" id="plantId" name="plantId" value="@id" />
                                <button id="sender" type="submit" class="btn btn-primary btn-sm sender">Trimite</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
        }
    </div>
}
else {
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 style="color: #5e2d32;" class="alert-heading">Nu a fost gasit nici un rezultat!</h4>
                <p style="color: #282A35;">Este posibil ca indexul de cautare sa nu fie disponibil momentan pe server.</p>
                <hr>
                <p style="color: #282A35;" class="mb-0">Ne cerem scuze pentru aceasta situatie neasteptata!</p>
                <button onclick="location.href = '/Plant/';" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
}
<br />
<br />
